.players{
    margin-top: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 1000px;
    margin-bottom: 200px;
}